@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'PFHighwaySansPro-Light';
  src: url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Light.eot?#iefix") format("embedded-opentype"), url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Light.woff") format("woff"), url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Light.ttf") format("truetype"), url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Light.svg#PFHighwaySansPro-Light") format("svg"); }

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'PFHighwaySansPro-Thin';
  src: url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Thin.eot?#iefix") format("embedded-opentype"), url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Thin.woff") format("woff"), url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Thin.ttf") format("truetype"), url("https://dpmango.github.io/nalogia/src/fonts/PFHighwaySansPro-Thin.svg#PFHighwaySansPro-Thin") format("svg"); }

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Pragmatica';
  src: url("https://dpmango.github.io/nalogia/src/fonts/Pragmatica.eot?#iefix") format("embedded-opentype"), url("https://dpmango.github.io/nalogia/src/fonts/Pragmatica.woff") format("woff"), url("https://dpmango.github.io/nalogia/src/fonts/Pragmatica.ttf") format("truetype"), url("https://dpmango.github.io/nalogia/src/fonts/Pragmatica.svg#Pragmatica") format("svg"); }

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'PragmaticaLight';
  src: url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaLight.eot?#iefix") format("embedded-opentype"), url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaLight.woff") format("woff"), url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaLight.ttf") format("truetype"), url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaLight.svg#PragmaticaLight") format("svg"); }

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'PragmaticaExtraLight';
  src: url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaExtraLight.eot?#iefix") format("embedded-opentype"), url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaExtraLight.woff") format("woff"), url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaExtraLight.ttf") format("truetype"), url("https://dpmango.github.io/nalogia/src/fonts/PragmaticaExtraLight.svg#PragmaticaExtraLight") format("svg"); }

body, html {
  overflow-x: hidden !important;
  color: #333333;
  font-size: 13px;
  font-family: Pragmatica, Helvetica, Arial, sans-serif; }

.page-contents {
  padding-top: 40px; }

.header {
  padding: 15px 0;
  background: #008be8;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .header .logo {
    color: white; }
  .header .mainey {
    font-family: 'Pragmatica'; }
    .header .mainey.logged-in {
      color: white;
      text-transform: uppercase; }
    .header .mainey .personal {
      padding-left: 30px;
      font-size: 13px; }
      .header .mainey .personal .username {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 13px;
        font-family: 'Pragmatica'; }
  .header .call-at-times {
    padding-top: 0;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Pragmatica';
    line-height: 25px; }
  .header .phone-section .phone {
    padding-top: 0;
    padding-right: 0; }
    .header .phone-section .phone span {
      display: inline-block;
      padding-bottom: 3px;
      color: white;
      font-size: 24px;
      font-family: 'PragmaticaExtraLight';
      line-height: 1.2em; }

.declaration-title {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: 'PFHighwaySansPro-Thin'; }
  @media screen and (max-width: 991px) {
    .declaration-title {
      font-size: 36px; } }
  @media screen and (max-width: 768px) {
    .declaration-title {
      font-size: 32px; } }

.form-container .main-form ul.steps {
  margin-top: -68px; }
  .form-container .main-form ul.steps li {
    padding: 14px 20px 0;
    height: 48px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'PragmaticaLight'; }
    .form-container .main-form ul.steps li a {
      border-bottom: none;
      color: #74a3c7;
      text-decoration: none; }
  .form-container .main-form ul.steps li.active a {
    color: #033333; }

.form-container .main-form .percents {
  margin-top: -15px; }
  .form-container .main-form .percents span {
    margin-bottom: 5px;
    text-align: left;
    font-size: 13px; }
  .form-container .main-form .percents .bar {
    width: 250px;
    height: 10px;
    border: 0px solid transparent;
    background: #eef2f7; }
    .form-container .main-form .percents .bar .completed {
      margin: 0;
      height: 10px;
      background: #ffdd2d;
      opacity: 1; }

.form-container .main-form ul.sub-steps {
  margin: -10px -20px 20px -20px;
  padding: 10px 20px 0px 20px; }
  .form-container .main-form ul.sub-steps li a {
    position: relative;
    display: inline-block;
    margin: 5px 0 0px 0;
    padding-bottom: 10px;
    color: #74a3c7;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'PragmaticaLight'; }
  .form-container .main-form ul.sub-steps li:after {
    margin: 0 10px;
    color: #74a3c7;
    content: "\2192";
    font-size: 10px;
    font-family: 'PragmaticaLight'; }
  .form-container .main-form ul.sub-steps li.active a {
    border-bottom: 4px solid #ffdd2d;
    color: #333333; }

.form-container .main-form ul.questions li.question {
  margin-bottom: 35px; }
  .form-container .main-form ul.questions li.question input.datepick {
    padding: 25px 17px;
    max-width: 130px; }

.form-container .main-form ul.questions div.l.for_checkbox span.title {
  color: #9299a2; }
  .form-container .main-form ul.questions div.l.for_checkbox span.title b {
    color: #333333; }

.form-container .intro-screen {
  margin-top: 40px;
  color: #333333;
  font-size: 17px;
  font-family: 'PragmaticaLight';
  line-height: 24px; }
  .form-container .intro-screen h4 {
    font-size: 24px; }

.hint-box h3 {
  margin-top: 45px;
  margin-bottom: 25px;
  color: #333333;
  font-size: 17px;
  font-family: 'PragmaticaLight'; }

.hint-box p {
  margin-bottom: 15px;
  color: #9299a2;
  font-size: 13px;
  font-family: 'PragmaticaLight';
  line-height: 18px; }

.hint-text {
  margin-bottom: 15px;
  color: #9299a2;
  font-size: 13px;
  font-family: 'PragmaticaLight';
  line-height: 18px; }

.btn-submit.small, .download-option .btn-submit, #buttonAddFiles {
  padding: 21px 40px;
  border: none;
  background: #ffdd2d;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #333333 !important;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .btn-submit.small:hover, .download-option .btn-submit:hover, #buttonAddFiles:hover {
    background: #ffcd33; }

.btn-submit.gray {
  border: 1px solid #74a3c7;
  background: transparent;
  color: #74a3c7 !important;
  text-shadow: none; }
  .btn-submit.gray:hover {
    background: #74a3c7;
    color: white !important; }

.add-multiple .btn-submit.small {
  padding: 15px 30px; }

.back-to-start .btn-submit {
  padding: 15px 30px;
  border: 1px solid #74a3c7 !important;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #74a3c7 !important;
  text-shadow: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .back-to-start .btn-submit:hover {
    background: #74a3c7;
    color: white !important; }

input[type=text].form-control {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 9px;
  padding-left: 17px;
  height: 66px;
  border: none;
  background: #eef2f7;
  font-size: 17px;
  line-height: 24px;
  cursor: text; }
  input[type=text].form-control:focus {
    outline: none;
    border: 1px solid #dddfe0;
    background: white;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

input.form-control.mixed {
  padding: 20px 17px !important;
  max-width: 100% !important; }

.form-container ul.questions li.question span.title {
  margin-bottom: 5px;
  font-size: 17px;
  font-family: 'PragmaticaLight'; }

.hint-mark {
  margin-top: -1px;
  padding: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #aaafb6;
  background: none;
  color: #9299a2;
  vertical-align: -3px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'PragmaticaLight'; }

.form-container .main-form label.radio {
  margin-bottom: 10px;
  color: #9299a2;
  font-weight: 300;
  font-size: 17px;
  font-family: 'PragmaticaLight'; }

.form-container .main-form input[type=radio] + span {
  top: -2px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #eef2f7; }

.form-container .main-form input[type=radio]:checked + span {
  background: #ffdd2d; }

.form-container .main-form input[type=radio]:checked + span:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #434a54;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

div#buttons_nav {
  padding-top: 30px;
  border-top: 1px solid #dddfe0; }

.cb_wrapper {
  height: 65px; }
  .cb_wrapper button.dropdown-toggle {
    padding: 22px 17px 25px 17px;
    height: 66px;
    border: none;
    background: #eef2f7;
    color: #9299a2;
    text-shadow: none;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer; }
  .cb_wrapper .open > .dropdown-toggle.btn-default:focus {
    outline: none !important;
    border: 1px solid #dddfe0;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .cb_wrapper .form-control:focus {
    outline: none !important;
    border-color: #dddfe0;
    -webkit-box-shadow: none;
            box-shadow: none; }

.bootstrap-select.btn-group .dropdown-toggle .caret {
  right: 15px;
  width: 13px;
  height: 7px;
  border: none;
  background-image: url("http://localhost:3002/images/bs-caret.png");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0; }

.bootstrap-select.btn-group.open .dropdown-toggle .caret {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.bootstrap-select.btn-group .dropdown-menu li {
  border-bottom: 1px solid #dddfe0;
  color: #333333;
  font-size: 17px; }

.bootstrap-select.btn-group .dropdown-menu > li > a {
  padding: 5px 15px; }
  .bootstrap-select.btn-group .dropdown-menu > li > a:hover {
    background: #f8fafc; }

.form-container .main-form .checkbox {
  margin-top: 20px;
  margin-bottom: 20px; }

.form-container .main-form input[type=checkbox] + span {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background: #eef2f7; }

.form-container .main-form input[type=checkbox]:checked + span {
  background: yellow; }

.form-container .main-form input[type=checkbox]:checked + span:after {
  top: 50%;
  left: 50%;
  width: 18px;
  height: 15px;
  border-radius: 0;
  background: url("http://localhost:3002/images/tick.svg") no-repeat center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.main-form div.l:before {
  margin-left: -79px !important;
  width: 65px !important;
  height: 65px !important;
  border: 1px solid #74a3c7;
  border-radius: 50%;
  background-position: center center !important; }

.main-form div.l.question102_110:before {
  background-image: url("http://localhost:3002/images/icons/form_work-muted.svg");
  background-size: 60% !important; }

.main-form div.l.question102_115:before {
  background-image: url("http://localhost:3002/images/icons/form_sale-muted.svg");
  background-size: 75% !important; }

.main-form div.l.question102_120:before {
  background-image: url("http://localhost:3002/images/icons/form_services-muted.svg");
  background-size: 60% !important; }

.main-form div.l.question102_125:before {
  background-image: url("http://localhost:3002/images/icons/form_business-muted.svg");
  background-size: 60% !important; }

.main-form div.l.question102_130:before {
  background-image: url("http://localhost:3002/images/icons/form_iis-muted.svg");
  background-size: 60% !important; }

.main-form div.l.question102_135:before {
  background-image: url("http://localhost:3002/images/icons/form_dividends-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question105_140:before {
  background-image: url("http://localhost:3002/images/icons/13-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question105_145:before {
  background-image: url("http://localhost:3002/images/icons/14-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question105_150:before {
  background-image: url("http://localhost:3002/images/icons/15-muted.svg");
  background-size: 65% !important; }

.main-form div.l.question105_155:before {
  background-image: url("http://localhost:3002/images/icons/16-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question105_160:before {
  background-image: url("http://localhost:3002/images/icons/17-muted.svg");
  background-size: 75% !important; }

.main-form div.l.question105_165:before {
  background-image: url("http://localhost:3002/images/icons/18-muted.svg");
  background-size: 65% !important; }

.main-form div.l.question105_180:before {
  background-image: url("http://localhost:3002/images/icons/19-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question310_315:before {
  background-image: url("http://localhost:3002/images/icons/20-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question310_317:before {
  background-image: url("http://localhost:3002/images/icons/21-muted.svg");
  background-size: 65% !important; }

.main-form div.l.question310_320:before {
  background-image: url("http://localhost:3002/images/icons/22-muted.svg");
  background-size: 80% !important; }

.main-form div.l.question310_325:before {
  background-image: url("http://localhost:3002/images/icons/23-muted.svg");
  background-size: 70% !important; }

.main-form div.l.question310_328:before {
  background-image: url("http://localhost:3002/images/icons/24-muted.svg");
  background-size: 65% !important; }

.main-form div.l.question310_330:before {
  background-image: url("http://localhost:3002/images/icons/25-muted.svg");
  background-size: 60% !important; }

.form-container ul.questions li.question div.a.comment span.title {
  color: #9299a2;
  font-size: 13px;
  font-family: 'PragmaticaLight'; }

.input-group-addon {
  border-top: none;
  border-bottom: none;
  background: white; }

.form-container ul.questions li.question .flmoney .cel {
  padding-top: 11px;
  padding-right: 15px; }

.form-container ul.questions li.question input.drob {
  padding-top: 11px;
  padding-top: 15px; }

input.ceilmoney.form-control.processed.masked {
  padding-top: 11px;
  padding-right: 15px !important; }

input.form-control.inn, input.form-control.numonly {
  padding-top: 11px; }

.form-container ul.questions li.question .l.diff_rows {
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
